* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --SombWhite: #ffffffde;
    --SombBlue: #959fb367;
}

body main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e9f4;

}
form{
    margin: 15px;
}
section {
    width: 400px;
    height: 100vh;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.paragraph {
    width: 390px;
    word-wrap: break-word;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #e1e9f4, #ffffff);
    box-shadow: 2px 2px 4px 0px var(--SombBlue), -4px -4px 5px 0px var(--SombWhite);
}
.pDisable {
    width: 390px;
    word-wrap: break-word;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px var(--SombBlue), -4px -4px 5px 0px var(--SombWhite);
}

.divBtt {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.taskCompleted, .cancelTask {
    flex-direction: row-reverse;
    background-color: rgb(156, 207, 248);
    padding: 3px;
    margin: 5px;
    border: none;
    box-shadow: 1px 1px 7px 0px var(--SombBlue), -2px -2px 6px 0px var(--SombWhite);
}

.cancelTask {
    background-color: rgba(241, 73, 73, 0.671);
}