* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --SombWhite: #ffffffde;
    --SombBlue: #959fb367;

    --75: #75bde0;
    --F8: #F8D49B;
    --F8B: #F8BC9B;
    --F89: #F89B9B;

}

body main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--F8);

}

form {
    margin: 15px;
}

section {
    width: 470px;
    height: 580px;
    display: flex;
    overflow: auto;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    background-color: var(--75);
}

.paragraph {
    width: 390px;
    word-wrap: break-word;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--F89);
}

/*.pback{
    background-image: linear-gradient(to right bottom, #2fff0094, #6aff0085);
    box-shadow: 2px 2px 4px 0px var(--SombBlue), -4px -4px 5px 0px var(--SombWhite);

.pDisable {
    width: 390px;
    word-wrap: break-word;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px var(--SombBlue), -4px -4px 5px 0px var(--SombWhite);
    background-color: rgba(172, 255, 47, 0.382);
}*/

.divBtt {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.taskCompleted,
.cancelTask {
    flex-direction: row-reverse;
    background-color: rgb(156, 207, 248);
    padding: 3px;
    margin: 5px;
    border: 1px solid;
}

.cancelTask {
    background-color: rgba(241, 73, 73, 0.671);
}